<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>wowless.dev</title>
</head>
<body>
<p>this is wowless.dev</p>
<p>Wowless is a headless implementation of WoW client APIs, intended for addon testing.</p>
<p>want to help?</p>
<ul>
<li><a href="https://github.com/lua-wow-tools/wowless">wowless, the tool</a></li>
<li><a href="https://github.com/wowless-dev">wowless, the site</a></li>
</ul>
<p>technical foo below</p>
<p>extracts</p>
<ul>
{%- for extract in extracts %}
<li>{{ extract }}</li>
{%- endfor %}
</ul>
<p>gscrapes</p>
<ul>
{%- for gscrape in gscrapes %}
<li>{{ gscrape }}</li>
{%- endfor %}
</ul>
</body>
</html>
