<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>wowless.dev</title>
</head>
<body>
<p>this is wowless.dev</p>
<p>Wowless is a headless implementation of WoW client APIs, intended for addon testing.</p>
<p>want to help?</p>
<ul>
<li><a href="https://github.com/lua-wow-tools/wowless">wowless, the tool</a></li>
<li><a href="https://github.com/wowless-dev">wowless, the site</a></li>
</ul>
<p>technical foo below</p>
<ul>
{%- for p in products %}
<li>{{ p.name }} {{ p.version }} {{ p.has_gscrape }}</li>
{%- endfor %}
</ul>
</body>
</html>
